@font-face { font-family: 'Segoe UI'; src: url('../fonts/SegoeUI/SegoeUI-Regular.woff'); } 
@font-face { font-family: 'Segoe UI'; font-weight: 600; src: url('../fonts/SegoeUI/SegoeUI-Bold.woff');}

:root {
    --main-bg-color: #F6F6FA;
    --secondary-bg-color: #6725A8;
    --white: #fff;
    --accent-color-svg: brightness(0) saturate(100%) invert(25%) sepia(80%) saturate(5689%) hue-rotate(297deg) brightness(85%) contrast(104%);
    --accent-color: #CB11AB;
    --custom-gray: #9797AF;
    --custom-green: #0CB477;
    --custom-orange: #F55123;
    --custom-orange-icon: brightness(0) saturate(100%) invert(42%) sepia(29%) saturate(5114%) hue-rotate(346deg) brightness(97%) contrast(98%);
    --text-black: #000;
    --warning-color: #FF3B30;
    --warning-icon: brightness(0) saturate(100%) invert(55%) sepia(56%) saturate(7417%) hue-rotate(340deg) brightness(99%) contrast(105%);
    --nav-icon-color: brightness(0) saturate(100%) invert(96%) sepia(3%) saturate(14%) hue-rotate(10deg) brightness(89%) contrast(83%);
    --header-icon-color: brightness(0) saturate(100%) invert(99%) sepia(6%) saturate(103%) hue-rotate(114deg) brightness(114%) contrast(100%);
    --bg-light-gray: #F6F6FA;
    --black-icon: brightness(0) saturate(100%) invert(0%) sepia(6%) saturate(7472%) hue-rotate(15deg) brightness(108%) contrast(99%);
}

body {
    font-family: 'Segoe UI';
    background-color: var(--secondary-bg-color);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header__container {
    width: 100%;
    padding: 16px 20px 16px 24px;
    display: grid;
    grid-template-columns: 170px auto 152px;
    align-items: center;
    gap: 32px;
    background-color: var(--secondary-bg-color);
    box-sizing: border-box;
}

.header__mobile {
    padding: 0px 13px;
    height: 56px;
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 16px;

}

.header__btn__menu {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.45);
}

.header__btn__menu__line {
    width: 28px;
    height: 4px;
    position: relative;
    display: block;
    background: var(--white);
    border-radius: 4px;
}

.header__btn__menu__line::before  {
    top: -10px;
}

.header__btn__menu__line::after {
    bottom: -10px;
}

.header__btn__menu__line::before, 
.header__btn__menu__line::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    display: block;
    background: var(--white);
    border-radius: 4px;
}

.header__logo {
    width: 106px;
    height: 48px;
    padding: 1px 0px 7px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.header__logo__txt {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    font-variant: all-small-caps;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    color: var(--white);
}

.header__logo__container {
    width: 170px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.header__search {
    width: 100%;
    height: 48px;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border-radius: 36px;
    background-color: rgba(255, 255, 255, 0.20);
    box-sizing: border-box;
}

.header__search__input {
    width: 100%;
    padding: 0 0 4px 0;
    margin: 0;
    flex: 1 0 0;
    font-family: 'Segoe UI';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border: none;
    outline: none;
    box-shadow: none;  
    background-color: transparent;
    color: var(--white);
}

.header__search__input::placeholder {
    padding: 0;
    font-family: 'Segoe UI';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--white);
    opacity: 0.5;
}

.header__search__input:-ms-input-placeholder{
    padding: 0;
    font-family: 'Segoe UI';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--white);
    opacity: 0.5;
}

.header__search__btn {
    width: 24px;
}

.header__search__img {
    width: 24px;
    height: 24px;
}

.header__btn {
    width: 56px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    box-sizing: border-box;
}

.header__btn__img {
    width: 28px;
    height: 28px;
    filter: var(--header-icon-color);
}

.header__btn__txt {
    width: 100%;
    margin-bottom: 3px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: var(--white);
}

.header__btn__container {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.header__btn__img__user {
    display: flex;
    width: 56px;
    height: 30px;
    padding: 1px 13px 1px 15px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
}

.header__btn__img__cart {
    width: 56px;
    height: 30px;
    padding: 1px 18px 1px 10px;
    box-sizing: border-box;
}

.main {
    width: 100%;
    padding: 22px 24px 50px 24px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    border-radius: 24px 24px 24px 24px;
    background-color: var(--main-bg-color);
    box-sizing: border-box;
}

.main__container {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    gap: 27px;
}

.main__title {
    padding: 0;
    margin: 0;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.28px;
    color: var(--text-black);
}

.cart {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cart__selected__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

#cart__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 20px;
}

/* items in cart */

.item {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.item__first {
    padding-top: 12px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
}

.item__img__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.item__img {
    width: 72px;
    height: 96px;
    border-radius: 8px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.item__information {
    max-width: 275px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
}

.item__name {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    color: var(--text-black);
    cursor: pointer;
}

.item__details__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.item__details {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: var(--text-black); 
}

.item__company {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 4px;
}

.item__company__container {
    height: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.item__company__name {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: var(--custom-gray);
}

.item__company__icon {
    cursor: pointer;
}

.company__info {
    padding: 11px 16px 13px 16px;
    width: 280px;
    height: 104px;
    margin-top: 5px;
    position: absolute;
    z-index: 9;
    display: none;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px;
    background: var(--white);
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.30)) drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
}

.company__name {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
    color: var(--text-black);
}

.company__txt {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.item__second {
    padding-top: 9px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.item__edit {
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    align-self: stretch;
}

.item__edit__btns {
    width: 100px;
    height: 44px;
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    background-color: var(--white);
}

.item__edit__quantity {
    width: 44px;
    height: 23px;
    position: absolute;
    top: 8px;
    left: 28.47px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
}

.item__edit__less {
    left: 4px;
}

.item__edit__more {
    left: 72px;
}

.item__edit__less,
.item__edit__more {
    width: 24px;
    height: 24px;
    padding: 2px 7px 6px 8px;
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#item-less:hover,
#item-more:hover {
    font-weight: 600;
}

.item__edit__txt {
    width: 9px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: -0.2px;
    text-align: center;
    color: var(--text-black);
}

.item__edit__quantity,
.item__edit__less,
.item__edit__more {
    box-sizing: border-box;
}

.item__left {
    width: 100px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: var(--custom-orange);
}

.item__price__container {
    width: 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    flex: 1 0 0;
    align-self: stretch;
}

.item__discount {
    display: flex;
    align-items: baseline;
}

.item__discount__modified {
    width: 110px;
    height: 28px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.item__discount__num,
.item__discount__currency {
    font-style: normal;
    font-weight: 700;
    color: var(--text-black);
    text-align: right;
}

.item__discount__num {
    font-size: 20px;
    line-height: 28px; 
    letter-spacing: -0.2px;
}

.item__discount__num__modified {
    height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.4px;
    color: var(--text-black); 
}

.item__discount__currency {
    width: 35px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
}

.item__fullprice {
    height: 16px;
    width: fit-content;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.item__fullprice__num,
.item__fullprice__currency {
    padding-bottom: 1px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* text-decoration-line: line-through; */
    border-bottom: 1px dashed rgba(0, 0, 0, 0.20);
    color: var(--custom-gray);
}

.item__fullprice__overline {
    width: 100%;
    height: 1px;
    position: absolute;
    right: 0;
    bottom: 7px;
    background-color: var(--custom-gray);
}

/* delete and like section */

.btn__item {
    width: 56px;
    height: 20px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.btn__like,
.btn__delete {
    padding: 0;
}

.btn__like__img,
.btn__delete__img {
    width: 20px;
    height: 20px;
    filter: var(--black-icon);
}

.btn__like:hover > .btn__like__img  {
    filter: var(--custom-orange-icon);
}

.btn__delete:hover > .btn__delete__img {
    filter: var(--custom-orange-icon);
}

.btn__liked {
    filter: var(--custom-orange-icon);
}

.cart__selectAll {
    width: 100%;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    gap: 11px;
}

.cart__selectAll__txt {
    height: 24px;
    display: flex;
    padding-bottom: 5px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    color: var(--text-black);
    box-sizing: border-box;
}

.cart__selectAll__modified {
    padding-bottom: 5px;
    display: flex;
    height: 24px;
    align-items: center;
    flex: 1 0 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    color: var(--text-black);
}

.cart__hide__btn,
.cart__hide__img {
    width: 20px;
    height: 20px;
}

.cart__hr {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.10);
}

.cart__selected {
    width: 100%;
}

.cart__form__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 16px;
}

.cart__form {
    padding: 16px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    border-radius: 16px;
    background-color: var(--white);
}

.cart__form__shipping {
    align-items: center;
    gap: 24px;
}

.cart__form__payment {
    align-items: flex-start;
    gap: 8px;
}

.cart__form__receiver {
    align-items: flex-start;
    gap: 16px;
}

.cart__form__title {
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-self: stretch;
    align-items: flex-start;
    gap: 10px;
}

.cart__form__title__txt {
    flex: 1 0 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24px;
    color: var(--text-black);
}

.cart__form__edit {
    padding-top: 7px;
    width: 78px;
    height: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-align: right;
    color: var(--accent-color);
    cursor: pointer;
}

.cart__payment {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cart__payment__warning {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    color: var(--custom-gray);
}

.cart__card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.cart__card__details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
}

.cart__notinstock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.notinstock__title {
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    gap: 11px;
}

.notinstock__title__txt {
    flex: 1 0 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: var(--text-black);
}

.notinstock__items__container {
    width: 100%;
}

.notinstock__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.total {
    width: 429px;
    height: fit-content;
    padding: 16px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 16px;
    background-color: var(--white);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

.total__mobile {
    display: none;
    flex-direction: column;
    gap: 16px;
}

.total__order {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.total__price {
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.total__price__details {
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-black);
}

.total__price__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
}

#total__title,
#total__price {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24px;
    color: var(--text-black);
}

#total__currency {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.2px;
    color: var(--text-black);
}

.total__title-edit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 16px;
}

.total__h {
    flex: 1 0 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    color: var(--text-black);
}

.total__icon {
    width: 20px;
    height: 20px;
}

.total__edit-btn {
    padding: 0;
    margin: 0;
}

.total__details,
.total__details__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.total__details {
    gap: 12px;
}

.total__details__container {
    gap: 4px;
}

.total__address,
.total__card__details {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    color: var(--text-black);
}

.total__date {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: var(--accent-color);
}

#total__shipping__top {
    height: 65px;
}

.total__shipping__bottom {
    height: 52px;
    padding: 8px 8px 10px 8px;
    display: flex;
    align-items: center;
    align-self: stretch;
    gap: 8px;
    border-radius: 8px;
    background-color: var(--bg-light-gray);
    box-sizing: border-box;
}

.total__shipping__img__container {
    width: 22px;
    height: 32px;
    display: flex;
    align-items: center;
}

.total__shipping__img {
    padding: 4px 0 5px 0;
    width: 22px;
    height: 22px;
}

.total__shipping__txt {
    height: 32px;
    flex: 1 0 0;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: var(--text-black);
}

.total__shipping__txt__accent {
    width: fit-content;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: var(--custom-green);
    cursor: pointer;
}

.total__shipping__txt__img {
    padding: 0;
    margin: 0;
}

.total__card__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    gap: 8px;
}

.total__card__btn {
    width: 32px;
    height: 24px;
    display: flex;
    justify-content: center;    
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: var(--bg-light-gray);
}

.total__card__img {
    width: 30px;
    height: 9.333px;
    flex-shrink: 0;
}

.total__card__details {
    text-align: right;
}

.total__card__bottom {
    padding: 8px 8px 12px 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 8px;
    border-radius: 8px;
    background-color: var(--bg-light-gray);
}

.total__card__pay {
    height: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    gap: 8px;
    border-radius: 8px;
}

.total__card__pay__txt,
.total__card__warning,
.total__btn__txt  {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    color: var(--text-black);
}

.total__btn__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.total__btn {
    height: 44px;
    width: 100%;
    padding: 0px 32px 5px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    border-radius: 8px;
    background-color: var(--accent-color);
    color: var(--white);
}

.total__btn__agreement {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
}

.total__btn__img {
    width: 13px;
    height: 24px;
}

.total__underline {
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.total__br {
    display: none;
}

.footer {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__content {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
}

/* modal windows */

.modal {
    width: 100vw;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background: rgba(5, 0, 10, 0.30);
    transition: 0.5s;
    z-index: 9;
}

.modal__container {
    width: fit-content;
    height: 408px;
    border-radius: 16px;
    background: var(--background-white, #FFF);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);
}

.modal__title {
    padding: 16px 24px 13px 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: stretch;
}

.modal__title__txt {
    width: 100%;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.2px;
    color: var(--text-black);
}

.modal__title__btn {
    padding-top: 4px;
}

.modal__title__img {
    width: 24px;
    height: 24px;
}

.modal__btn__container {
    padding: 16px 24px 24px 24px;
    display: flex;
    align-items: flex-start;
}

.modal__btn {
    height: 44px;
    padding: 0px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    text-align: center;
    background-color: var(--accent-color);
    color: var(--white);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
}

.modal-shipping {
    width: 500px;
}

.modal__shipping {
    width: 100%;
    padding: 0px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: 24px;
    box-sizing: border-box;
}

.modal__shipping__container__top {
    width: 100%;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.modal__shipping__top__options {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid rgba(203, 17, 171, 0.15);
    background: var(--white);
}

.modal__shipping__top__options:hover {
    border-radius: 24px;    
    border: 2px solid var(--accent-color);
}

.modal__shipping__container__bottom {
    padding-bottom: 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 8px;
}

.modal__shipping__title {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    color: var(--text-black);
}

.modal__shipping__options {
    width: 100%;
    min-height: 36px;
    display: grid;
    grid-template-columns: 20px auto 20px;
    gap: 8px;
}

.modal__shipping__input {
    height: 100%;
    padding-top: 9px;
    display: flex;
    align-items: flex-start;
}

.modal__shipping__label {
    padding: 4px 0px 8px 0px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.modal__shipping__btn {
    height: 100%;
    width: 20px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.modal__shipping__btn:hover > .modal__shipping__img {
    filter: var(--custom-orange-icon);
}

.modal-payment {
    width: 400px;
}

.modal__payment {
    height: 267px;
    padding: 0px 22px 123px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: 16px;
    box-sizing: border-box;
}

.modal__payment__option {
    width: 100%;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.modal__payment__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
}

.payment__card {
    width: 32px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background-color: var(--bg-light-gray);
    box-sizing: border-box;
}

.modal__card {
    padding: 0px 4px;
}

/* menu for mobile ver */

.navbar {
    height: 56px;
    width: 100vw;
    padding: 0px 13px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px -0.5px 0px 0px rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(2.5px);
    z-index: 10;
    box-sizing: border-box;
}

.navbar__btn,
.navbar__btn__img {
    margin: 0;
    width: 28px;
    height: 28px;
    filter: var(--nav-icon-color);
}

.navbar__btn:hover,
.navbar__btn__img,
.navbar__btn:active {
    filter: var(--accent-color-svg);
}

/* custom input[checkbox] */

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    background-color: transparent;
    width: 22px;
    height: 22px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 20px;
    height: 20px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    transform-origin: bottom left;
    clip-path: polygon(17% 54%, 28% 43%, 38% 54%, 70% 22%, 81% 33%, 38% 75%, 17% 54%);
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: var(--white);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:checked {
    background-color: var(--accent-color);
}

input[type="checkbox"]:hover {
    border-color: var(--accent-color);
}

/* custom input[radio] */

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type="radio"]::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: var(--white);
}

input[type="radio"]:checked {
    background-color: var(--accent-color);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

.radio {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 0) and (max-width: 1023px) {
    .header__container,
    .header__mobile__input {
        display: none;
    }

    .navbar,
    .header__mobile {
        display: flex;
    }

    .header__logo {
        width: 100%;
        padding: 11px 4px 21px 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 0 0;
        box-sizing: border-box;
    }

    .header__logo__txt {
        width: 100%;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        font-variant: all-small-caps;
        letter-spacing: 2.7px;
    }

    .header__mobile__btn,
    .header__mobile__btn__img,
    .header__mobile__search__img,
    .header__mobile__search {
        width: 28px;
        height: 28px;
    }

    .header__mobile__search__img {
        fill: var(--header-color);
    }

    .main {
        height: 100%;
        padding: 15px 16px 40px 16px;
        flex-direction: column;
    }

    .main__title {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -0.2px;
    }

    .total {
        width: 100%;
        margin-top: 8px;
        padding: 0;
        border-radius: 16px 16px 0px 0px;
        background-color: var(--bg-light-gray);
        box-shadow: none;
    }

    .total__mobile {
        display: flex;
    }

    .total__order {
        gap: 16px;
    }

    #total__title,
    #total__price {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; 
        letter-spacing: -0.2px;
    }

    .total__details {
        display: none;
    }

    .total__shipping__txt {
        position: relative;
    }

    .total__shipping__txt__accent {
        position: absolute;
        top: 16.97px;
        left: 86px;
    }

    .total__shipping__bottom,
    .total__card__bottom {
        height: fit-content;
        padding: 8px 8px 12px 8px;
        background-color: #F0ECF4;
    }

    .total__btn__container {
        width: 100%;
    }

    .footer {
        margin-bottom: 56px;
    }

    .modal__container {
        width: 100vw;
        height: 100vh;
        padding-bottom: 56px;
        display: grid;
        grid-template-rows: 61px auto 76px;
        align-items: stretch;
        border: none;
        border-radius: 0;
        box-sizing: border-box;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .modal__title {
        padding: 16px 11px 13px 16px;
        align-items: center;
    }

    .modal__title__txt {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: -0.2px;
    }

    .modal__payment {
        padding: 0px 16px 313px 16px;
    }

    .modal {
        display: none;
    }

    .modal__btn__container {
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal__btn {
        width: 100%;
        height: 44px;
        padding: 0px 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    .modal__shipping__container__top {
        padding: 0px 2px;
        gap: 10px;
    }

    .modal__shipping {
        padding: 0px 14px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1399px) {
    .main {
        padding: 22px 25px 50px 24px;
    }

    .total {
        width: 303px;
    }

    #total__shipping__top {
        height: 81px;
    }

    .total__shipping__txt {
        position: relative;
    }

    .total__shipping__txt__accent {
        position: absolute;
        top: 16.97px;
        left: 138px;
    }

    .total__br {
        display: block;
    }
}